#motion-demo {
    offset-path: path('M20,20 C20,100 200,0 200,100');
    animation: move 3000ms infinite alternate ease-in-out;
    width: 45px;
    height: 45px;
    background: #3A98B9;
  }
  
  @keyframes move {
    0% {
      transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
  }
  