:root{
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 10rem;
    grid-template-areas:
    "header"
    "main"
    "pie"
    ;
    display: grid;

}
.header{
box-sizing: border-box;
padding: 0 0.5rem;
align-items: center;
grid-area: header;
position: sticky;
position: -webkit-sticky;
top: 0;
display: flex;
justify-content: space-between;
background-color: #3A98B9;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.headerl{
    color: #fdfdfd;
    display: flex;
    align-items: center;

}
.headerr{
    color: #fdfdfd;
    display: flex;
    gap: 1.5rem;
    list-style: none;

}
.headerr a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.r{
    color: #ef8696;
}
.main{
    grid-area: main;
    background-color: #f3eded;
    display: flex;
}
.video{
    height: 400px;
    width: 100%;
}
.section{
    overflow: auto;
    box-sizing: border-box;
    padding: .5em;
    flex: 1;
    gap: 1em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url('../immg/fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.aside{
    justify-content: space-between;
    margin-top: .5em;
    background-color: #f9f9f9;
    width: 25rem;
    box-sizing: border-box;
    padding: .5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -20px, rgba(0, 0, 0, 0.3) 0px 20px 10px -20px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/*header.headerr a efectos al pasar cursor por el menu*/
.card {
    box-sizing: border-box;
    padding:.5em  ;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 17px;
    line-height: 1.6em;
    background-color: #f9f9f9;
    flex: 1;
    flex-direction: column;
    height: 700px;
    align-items: center;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -20px, rgba(0, 0, 0, 0.3) 0px 20px 10px -20px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
h3{

    text-align: center;
    color: #3A98B9;
}    
.aside p{
    font-size: 17px;
    line-height: 1.6em;
}

/*footer de la pagina*/


.piep{
    display: flex;
    height: 10rem;
    flex-direction: column;
    gap: .5em;
    background-color: #3A98B9;
}
.nivel1{
box-sizing: border-box;
padding: .5em;
height: 2rem;
color: #f9f9f9;
font-size: 13px;
display: flex;
align-items: center;
justify-content: center;
background-color: #29738e;
}
.pienivel2{
    box-sizing: border-box;
    padding: .5em;
    align-items: center;
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.contp{
    flex: 1;
    text-align: center;
    color: #fff;
    font-size: 19px ;
}
.contp img {
    height: 4.3rem;
    width: 4.5rem;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: lightgray;
}
a:hover{
    color: #fff;
    transition: 1s;
}
.🧡{
    margin-top: 5px;
    width: 12rem;
    height: 3.8rem;
    color: #f3eded;
    border: none;
    background-color: tomato;
    border-radius: 5%;
    font-size: 20px;
    cursor: pointer;
    transition: 2s;
}
.🧡:hover{
    background-color: #ef8696;
}

@media screen and  (max-width:400px) {
    body{
      display: flex;
      flex-direction: column;
    
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .piep{
        height: auto;
    }
    .pienivel2{
        flex-wrap:wrap;
        justify-content: center;
    }
    .r{
        font-size: 25px;
    }
    .headerr{
        flex-wrap: wrap;
        gap: 1.9em;
    }
    .header{
        height: 10rem;
        gap: 1.5em;
        justify-content: center;
        align-items: center;
    }
}
.audio {
    position: sticky;
    position: -webkit-sticky;
    top: 82px;
    background-color: #3A98B9;
    height: 6rem;
}
.audio h3{
    color: #f9f9f9;
}



/*vocero*/

@media screen and  (max-width:480px){
    #conjugacion{
        font-size: 15px;
    }
    #audio{
       margin-left: 1.8rem;
    }
}


.duo{
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
    box-sizing: border-box;
}
.duo iframe{
flex: 1;
}